<div class="flex justify-center items-center h-screen bg-gray-100">
  <div class="w-full max-w-xl bg-white p-8 rounded shadow-lg">
    <h1 class="text-2xl font-bold text-gray-700">
      Basic Reactive Form example
    </h1>

    <form [formGroup]="form">
      <div>
        <label for="name" class="block mb-2 text-sm font-medium text-black"
          >Name</label
        >
        <input
          formControlName="username"
          type="text"
          id="name"
          class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400"
          placeholder="John Doe"
        />

        <div
          *ngIf="form.get('username')?.invalid && form.get('username')?.touched"
          class="text-red-500 text-sm mt-1"
        >
          Field is required
        </div>
      </div>
    </form>
  </div>
</div>
